{% extends 'base.html' %}
{% block title %} Montecarlo {% endblock %}
{% block content %}
{% if error %}
<div class="alert alert-danger" role="alert">
    {{ error }}
</div>
{% endif %}
<center>
    <br><br>
    <div class="card cards text-white mb-3" style="max-width: 60rem;">
        <div class="card-header" style="font-size: 40px;">Sistema Montecarlo</div>
        <div class="card-body">
            <form enctype="multipart/form-data" method="POST" action="{{url_for('calcularMontecarlo')}}"><br>
                <div class="col-sm-12">
                    <div class="form-row">
                        <div class=" mb-3">
                            <label for="validationDefault01">Número iteraciones (n)</label>
                            <input name="numeroIteraciones" type="number" class="form-control" id="validationDefault01"
                                required>
                        </div>
                        <div class=" mb-3">
                            <label for="validationDefault02">Semilla (X0)</label>
                            <input name="semilla" type="number" class="form-control" id="validationDefault02" required>
                        </div>
                        <div class="mb-3">
                            <label for="validationDefault01">Multiplicador (a)</label>
                            <input name="multiplicador" type="number" class="form-control" id="validationDefault01"
                                required>
                        </div>
                        <div class=" mb-3">
                            <label for="validationDefault02">Incremento (c)</label>
                            <input name="incremento" type="number" class="form-control" id="validationDefault02"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="validationDefault01">Módulo (m)</label>
                            <input name="modulo" type="number" class="form-control" id="validationDefault01" required>
                        </div><br>
                        <div class="form-row">
                            <div class=" mb-3">
                                <input name="file" type="file" class="form-control-file form-control form-data"
                                    id="exampleFormControlFile1" required>
                            </div><br>
                            <div class=" mb-3">
                                <label for="validationDefault01">Tipo de Archivo</label>
                                <select name="tipoarchivo" required class="form-select">
                                    <option value="1">Excel</option>
                                    <option value="2">csv </option>
                                    <option value="3">json</option>

                                </select>
                            </div> <br>
                            <div class="mb-3">
                                <label for="validationDefault01">Columna X</label>
                                <input name="x" type="text" class="form-control" id="validationDefault01" required>
                            </div>
                            <div class=" mb-3">
                                <label for="validationDefault01">Columna Y</label>
                                <input name="y" type="text" class="form-control" id="validationDefault01" required>
                            </div>
                        </div>

                    </div>
                    <center>
                        <button type="submit" class="btn boton btn-secondary" style="width: 300px;">Calcular</button>
                    </center>
                </div>
            </form>

        </div>
    </div><br><br><br>
</center>

{% endblock %}